html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
}

main {
    overflow-x: auto;
    overflow-y: hidden;
    height: 100vh;
}
.layout-format {
    display: flex;
    flex-direction:column;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.bg-layout{
    background-color: rgb(55,55,55);
}

.bg-main {
    background-color: rgb(30,30,30);
}

.input-background {
    background-color: rgb(40,40,40);
}

.input-background:focus {
    background-color: rgb(50,50,50);
}

.bg-anim {
    background: linear-gradient(-45deg, #ec704a, #ba23d5, #23a6d5, #23d587);
    background-size: 200% 200%;
    animation: gradient 20s ease infinite;
    height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.bg-table {
    background-color: rgb(45,45,45);
    margin-bottom:5rem;
}

thead th,
tbody th {
    color: #fff;
}

tbody td {
    font-weight: 500;
    color: rgba(255,255,255,.75);
}

tbody tr:hover td {
    font-weight: 500;
    color: rgba(255,255,255, 1);
}

.selected-td {
    font-weight: 500;
    color: rgba(85,115,146, 1);
}

.card {
    border-radius: .5rem;
}

