@page "/EditGroup"
@model Aplikacja_webowa_do_zarządzania_zespołami.Pages.EditGroupModel
@{
    Layout = "_GroupLayout";
}
@if (Model.data != "Owner")
{
    Response.Redirect("/");
}

<div class="w-100 h-100 d-inline-block overflow-auto bg-main">
    <div class="mt-3" id="groupEditGroupContainer">
        <partial name="Partials/_PartialEditGroup" model="Model.group" />
    </div>
    <div class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title">Użytkownicy oczekujący na przyjęcie</h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="title">Użytkownicy grupy</h3>
                        </div>
                    </div>
                    <div class="card bg-table">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6" id="groupPendingUsersContainer">
                                        <partial name="Partials/_PartialPendingUsers" model="Model.pendingUsersList" />
                                    </div>
                                    <div class="col-md-6" id="groupActiveUsersContainer">
                                        <partial name="Partials/_PartialActiveUsers" model="Model.activeUsersList" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Confirm pending user accept to group modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="accept-pending-user-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form method="post" id="acceptPendingForm" asp-page-handler="AcceptPendingUser">
                <div class="modal-body">
                    <div class="container">
                        <div class="mb-3 mt-3">
                            <h4>Czy na pewno chcesz przyjąć użytkownika do grupy</h4>
                        </div>
                    </div>
                    <hr/>
                    <span asp-validation-for="pendingUserId" class="text-danger ms-3"></span>
                    <div class="text-end mb-3">
                        <button type="button" class="btn btn-secondary px-5 me-2" data-bs-dismiss="modal">Nie</button>
                        <input type="hidden" asp-for="pendingUserId" id="pendingUserId" />
                        <button type="button" class="btn btn-primary px-5 me-2" id="confirmPendingUser">Tak</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Manage user in group modal -->
<div class="modal fade" id="manage-user-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form method="post" id="editActiveUserForm">
                <div class="modal-header">
                    <h3>Zarządzaj użytkownikiem</h3>
                </div>
                <div class="modal-body mt-2">
                    <div class="contain">
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <label class="form-label">Nazwa użytkownika</label>
                                <hr />
                                <p class="text-white" id="username"></p>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">E-mail</label>
                                <hr />
                                <p class="text-white" id="email"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label" for="role">Rola w grupie</label>
                                <select class="form-control bg-dark" id="role" asp-for="activeUserRole">
                                    <option value="user">Użytkownik</option>
                                    <option value="owner">Właściciel</option>
                                </select>
                                <span asp-validation-for="activeUserId" class="text-danger"></span>
                            </div>
                        <p class="text-white-50 mt-5"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-danger me-2" id="removeBtn">Usuń z grupy</button>
                    <input type="hidden" asp-for="activeUserId" id="activeUserId" />
                    <button type="button" class="btn btn-primary" id="editBtn">Edytuj role</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Confirm remove user from group modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="confirm-remove-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form method="post" id="removeActiveUserForm">
                <div class="modal-body">
                    <div class="container">
                        <div class="mb-3 mt-3">
                            <h4>Czy na pewno chcesz usunąć użytkownika z grupy?</h4>
                        </div>
                    </div>
                    <hr />
                    <span asp-validation-for="activeUserId" class="text-danger text-start ms-3"></span>
                    <div class="text-end mb-3">
                        <button type="button" class="btn btn-secondary px-5 me-2" data-bs-dismiss="modal">Nie</button>
                        <input type="hidden" asp-for="activeUserId" id="deleteActiveUserId" />
                        <button type="button" class="btn btn-danger px-5 me-2" id="confirmRemoveBtn">Tak</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function HandleFormSubmit(form, valmsgFor) {
            let actionUrl = form.attr("action");

            $.ajax({
                type: form.attr("method"),
                url: actionUrl,
                data: form.serialize(),
                dataType: "json",
                success: function (data) {
                    if (Array.isArray(data) && data.length > 0) {
                        let nameValidationError = $(`span[data-valmsg-for="${valmsgFor}"]`);
                        nameValidationError.text(data[0]);
                    } else {
                        $("#accept-pending-user-modal").modal("hide");
                        $("#manage-user-modal").modal("hide");
                        $("#confirm-remove-modal").modal("hide");
                        InvokeAjaxCallPendingUsers();
                        InvokeAjaxCallActiveUsers();
                    }
                }
            });
        }
        function HandleFormSubmitEdit(form, valmsgFor) {
            let actionUrl = form.attr("action");

            $.ajax({
                type: form.attr("method"),
                url: actionUrl,
                data: form.serialize(),
                dataType: "json",
                success: function (data) {
                    if (Object.keys(data).length > 0 && !Array.isArray(data) && data != "success") {
                        let keys = Object.keys(data);

                        for (let i = 0; i < keys.length; i++) {
                            let key = keys[i];
                            let errors = data[key];
                            let errorSpan = $(`span[data-valmsg-for="${key}"]`);

                            if (errorSpan.length > 0) {
                                errorSpan.text(errors[0]);
                            }
                        }
                    } else if (Array.isArray(data) && data.length > 0) {
                        let nameValidationError = $(`span[data-valmsg-for="${valmsgFor}"]`);
                        nameValidationError.text(data[0]);
                    } else {
                        InvokeAjaxCallEdit();
                    }
                }
            });
        }
        function HandleFormSubmitDelete(form, valmsgFor) {
            let actionUrl = form.attr("action");

            $.ajax({
                type: form.attr("method"),
                url: actionUrl,
                data: form.serialize(),
                dataType: "json",
                success: function (data) {
                    if (Object.keys(data).length > 0 && !Array.isArray(data) && data != "success") {
                        let keys = Object.keys(data);

                        for (let i = 0; i < keys.length; i++) {
                            let key = keys[i];
                            let errors = data[key];
                            let errorSpan = $(`span[data-valmsg-for="${key}"]`);

                            if (errorSpan.length > 0) {
                                errorSpan.text(errors[0]);
                            }
                        }
                    } else if (Array.isArray(data) && data.length > 0) {
                        let nameValidationError = $(`span[data-valmsg-for="${valmsgFor}"]`);
                        nameValidationError.text(data[0]);
                    } else {
                        //Redirect user to new page
                        let pageName = "Aktywna grupa";
                        let url = `/${pageName}`;

                        window.location.href = url;
                    }
                }
            });
        }

        function InvokeAjaxCallEdit() {
            if ($("#groupEditGroupContainer").children().length > 0) {
                $("#groupEditGroupContainer").empty();
            }

            $.ajax({
                type: 'get',
                url: '@Url.Page("EditGroup", "EditPartial")',
                success: function (partialResult) {
                    $("#groupEditGroupContainer").append(partialResult);
                }
            });
        }

        function InvokeAjaxCallPendingUsers() {
            if ($("#groupPendingUsersContainer").children().length > 0) {
                $("#groupPendingUsersContainer").empty();
            }

            $.ajax({
                type: 'get',
                url: '@Url.Page("EditGroup", "PendingUsersPartial")',
                success: function (partialResult) {
                    $("#groupPendingUsersContainer").append(partialResult);
                }
            });
        }

        function InvokeAjaxCallActiveUsers() {
            if ($("#groupActiveUsersContainer").children().length > 0) {
                $("#groupActiveUsersContainer").empty();
            }

            $.ajax({
                type: 'get',
                url: '@Url.Page("EditGroup", "ActiveUsersPartial")',
                success: function (partialResult) {
                    $("#groupActiveUsersContainer").append(partialResult);
                }
            });
        }

        function ClearValidationMessagesOnSubmit(){
            $("form").on('submit', function () {
                $("span[data-valmsg-for]").text("");
            });
        }

        function EditPartialSubmitHandler(){
            $("#editGroupForm").submit(function (event) {
                event.preventDefault();
                HandleFormSubmitEdit($(this), "description");
            });
        }

        function DeletePartialSubmitHandler() {
            $("#deleteGroupForm").submit(function (event) {
                event.preventDefault();
                HandleFormSubmitDelete($(this), "description");
            });
        }

        function EditGroupDataBtnAction()
        {
            //Submit on button click
            $("#editGroupDataBtn").click(function () {
                $("#editGroupForm").submit();
            });
        }

        function DeleteGroupBtnAction()
        {
            $("#confirmGroupDeleteBtn").click(function () {
                $("#deleteGroupForm").submit();
            });

            //Action for delete button in edit-modal
            $("#deleteGroupDataBtn").click(function () {
                $("span[data-valmsg-for]").text("");
                $("#confirm-delete-modal").modal("show");
            });
        }

        $(document).ready(function () {

            //Delete valmsgs
            $("span[data-valmsg-for]").text("");

            //Clear valmgs on modal open
            $('.modal').on('shown.bs.modal', function () {
                $("span[data-valmsg-for]").text("");
            });

            ClearValidationMessagesOnSubmit();
            EditPartialSubmitHandler();
            EditGroupDataBtnAction();
            DeletePartialSubmitHandler();
            DeleteGroupBtnAction();

            //Change action for submit
            $("#removeBtn").click(function () {
                $("span[data-valmsg-for]").text("");
                $("#manage-user-modal").modal("hide");
                $("#confirm-remove-modal").modal("show");
            });

            $("#confirmPendingUser").click(function(){
                $("#acceptPendingForm").attr("action", "/EditGroup?handler=AcceptPendingUser");
                $("#acceptPendingForm").submit();
            })

            $("#confirmRemoveBtn").click(function (){
                $("#removeActiveUserForm").attr("action", "/EditGroup?handler=RemoveUser");
                $("#removeActiveUserForm").submit();
            })

            $("#editBtn").click(function () {
                $("#editActiveUserForm").attr("action", "/EditGroup?handler=EditUserRole");
                $("#editActiveUserForm").submit();
            });

            //On table click
            $("#groupPendingUsersContainer").on("click", ".table tbody tr", function () {
                $("#pendingUserId").val($(this).data("id"));
            });

            $("#groupActiveUsersContainer").on("click", ".table tbody tr", function () {
                $.getJSON(`/EditGroup?handler=ActiveUserJson&id=${$(this).data('id')}`).done(function (user) {
                    $("#activeUserId").val(user.user_id);
                    $("#deleteActiveUserId").val(user.user_id);
                    $("#username").text(user.username);
                    $("#email").text(user.e_mail);
                    $("#role").val(user.role);
                });
            });

            //Form submit handling
            $("#acceptPendingForm").submit(function (event) {
                event.preventDefault();
                HandleFormSubmit($(this), "pendingUserId");
            });

            $("#editActiveUserForm").submit(function (event) {
                event.preventDefault();
                HandleFormSubmit($(this), "activeUserId");
            });

            $("#removeActiveUserForm").submit(function (event) {
                event.preventDefault();
                HandleFormSubmit($(this), "activeUserId");
            });
        });

        //After loadning partial througth ajax

        $(document).ajaxSuccess(function (event, xhr, settings) {
            if (settings.url === '@Url.Page("EditGroup", "EditPartial")') {
                ClearValidationMessagesOnSubmit();

                //Need to get those actions once again
                EditPartialSubmitHandler();
                EditGroupDataBtnAction();
                DeletePartialSubmitHandler();
                DeleteGroupBtnAction();
            }
        });
    </script>
}
