@page "/EditGroup"
@model Aplikacja_webowa_do_zarządzania_zespołami.Pages.EditGroupModel
@{
    Layout = "_GroupLayout";
}
@if (Model.data != "Owner")
{
    Response.Redirect("/");
}

<div class="w-100 h-100 d-inline-block overflow-auto bg-main">
    <div class="table-responsive mt-3 mb-5" id="groupEditContainer">
        <partial name="Partials/_PartialEditGroup" model="Model.group" />
    </div>
</div>

@section scripts{
    <script>
        function handleFormSubmit(form, valmsgFor) {
            let actionUrl = form.attr("action");

            $.ajax({
                type: form.attr("method"),
                url: actionUrl,
                data: form.serialize(),
                dataType: "json",
                success: function (data) {
                    if (Object.keys(data).length > 0 && !Array.isArray(data) && data != "success") {
                        let keys = Object.keys(data);

                        for (let i = 0; i < keys.length; i++) {
                            let key = keys[i];
                            let errors = data[key];
                            let errorSpan = $(`span[data-valmsg-for="${key}"]`);

                            if (errorSpan.length > 0) {
                                errorSpan.text(errors[0]);
                            }
                        }
                    } else if (Array.isArray(data) && data.length > 0) {
                        let nameValidationError = $(`span[data-valmsg-for="${valmsgFor}"]`);
                        nameValidationError.text(data[0]);
                    } else {
                        invokeAjaxCallEdit();
                    }
                }
            });
        }

        function invokeAjaxCallEdit() {
            if ($("#groupEditContainer").children().length > 0) {
                $("#groupEditContainer").empty();
            }

            $.ajax({
                type: 'get',
                url: '@Url.Page("EditGroup", "LoadEditPartial")',
                success: function (partialResult) {
                    $("#groupEditContainer").append(partialResult);
                }
            });
        }

        function editPartial(){
            //Clear valmgs on submit
            $("form").on('submit', function () {
                $("span[data-valmsg-for]").text("");
            });

            //Form submit handler to show valmgs
            $("#editForm").submit(function (event) {
                event.preventDefault();
                handleFormSubmit($(this), "description");
            });
        }

        $(document).ready(function () {

            //Delete valmsgs
            $("span[data-valmsg-for]").text("");

            editPartial();
        });

        //After loadning partial througth ajax
        $(document).ajaxSuccess(function (event, xhr, settings) {
            if (settings.url === '@Url.Page("EditGroup", "LoadEditPartial")') {
                editPartial();
            }

        });
    </script>
}
