@page "/JoinGroup"
@model Aplikacja_webowa_do_zarządzania_zespołami.Pages.JoinGroupModel
@{
    Layout = "_GroupLayout";
}
@if (Model.data == null)
{
    Response.Redirect("/");
}

<div class="w-100 h-100 d-inline-block overflow-auto bg-main">
    <div class="p-4">
        <h1 class="text-center display-6 fw-bold">Grupy</h1>
    </div>

    <div class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-table">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-start mb-5 mt-2">
                                <h3>Chciałbyś poprowadzić swój własny zespół</h3>
                                <div class="d-flex align-items-center">
                                    <span class="p-1 me-1">Nie czekaj, zrób to już teraz</span>
                                    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#create-modal">Zalóż grupe</button>
                                </div>
                            </div>
                            <hr />
                            <div class="table-responsive mt-3" id="groupsContainer">
                                <partial name="Partials/_PartialJoinGroup" model="Model.groupList" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Show group modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="details-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Join">
                <div class="modal-body">
                    <div class="mt-md-4 pb-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label>Nazwa grupy</label>
                                    <hr />
                                    <p class="text-white-50" id="group-name"></p>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <label>Właściciel</label>
                                    <hr />
                                    <p class="text-white-50" id="owner-name"></p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label>Opis grupy</label>
                                <p class="text-white-50 mb-5 mt-2" id="description"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <input type="hidden" asp-for="joinGroupId" id="update" />
                    <input class="btn btn-primary" id="action-btn" type="submit" value="Dołącz"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Create group modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="create-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Stwórz grupe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-page-handler="Create">
                <div class="modal-body">
                    <div class="mt-md-4 pb-5">
                        <div class="mb-4">
                            <label class="form-label" for="typeGroupNameX">Nazwa grupy</label><br/>
                            <input type="text" id="typeGroupNameX" class="form-control form-control-lg text-light bg-dark" asp-for="createGroup.name" />
                            <span asp-validation-for="createGroup.name" class="text-danger"></span>
                            <div id="nameValidationError" class="text-danger" style="display:none;"></div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="typeGroupDescX">Opis grupy</label><br/>
                            <textarea id="typeGroupDescX" class=" form-control bg-dark" rows="4" asp-for="createGroup.description"></textarea>
                            <span asp-validation-for="createGroup.description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <input class="btn btn-primary" type="submit" value="Stwórz" />
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function initializeDataTable() {
            $('#DataTable').DataTable({
                "oLanguage": {
                    "oPaginate": {
                        "sPrevious": "Poprzednie",
                        "sNext": "Następne"
                    },

                    "sInfo": "Pozycje od _START_ do _END_ z _TOTAL_ ",
                    "sLengthMenu": "Ilość pozycji _MENU_",
                    "sSearch": "Szukaj:",
                    "sInfoFiltered": "(wyszukane z _MAX_ pozycji)",
                    "sZeroRecords": "Brak wyników",
                    "sInfoEmpty": "Pozycje od 0 do 0 z 0 "
                }
            });
        }

        $(document).ready(function () {

            //DataTable
            initializeDataTable();

            $("#groupsContainer").on("click", ".dataTable tbody tr", function () {
                $.getJSON(`/JoinGroup?handler=GroupJson&id=${$(this).data('id')}`).done(function (group) {
                    $('#group-name').text(group.name);
                    $('#description').text(group.description);
                    $('#owner-name').text(group.owner_name);
                    $('#update').val(group.group_id);
                });
            });

            $('form').on('submit', function () {
                $('span[data-valmsg-for]').text('');
            });

            //Cleaning function on modal call
            $('#create-modal').on('show.bs.modal', function () {
                $('span[data-valmsg-for]').text('');
            });

            $("form").submit(function (event) {
                event.preventDefault();

                let form = $(this);
                let actionUrl = form.attr("action");
                let pageHandler = form.attr("asp-page-handler");

                // Pełny adres URL z atrybutem asp-page-handler
                if (pageHandler) {
                    actionUrl += "?" + $.param({ "handler": pageHandler });
                }

                $.ajax({
                    type: form.attr("method"),
                    url: actionUrl,
                    data: form.serialize(),
                    dataType: "json",
                    success: function (data) {
                        //Object.keys(data).lenght sprawdza ile błędów znajduje się w data natomiast data != success ma za zadanie nie przechwicić udanego wykonania
                        if (Object.keys(data).length > 0 && !Array.isArray(data) && data != "success") {
                            var keys = Object.keys(data);

                            for (let i = 0; i < keys.length; i++) {
                                let key = keys[i];
                                let errors = data[key];
                                let errorSpan = $(`span[data-valmsg-for="${key}"]`);

                                if (errorSpan.length > 0) {
                                    errorSpan.text(errors[0]);
                                }
                            }
                        } else if (Array.isArray(data) && data.length > 0) {
                            let nameValidationError = $(`span[data-valmsg-for="createGroup.name"]`);
                            nameValidationError.text(data[0]);
                        }else {
                            $('#create-modal').modal('hide');
                            $('#details-modal').modal('hide');

                            if ($("#groupsContainer").children().length > 0) {
                                $("#groupsContainer").empty();
                            }

                            $.ajax({
                                type: 'get',
                                url: '@Url.Page("JoinGroup", "LoadGroups")',
                                success: function (partialResult) {
                                    $("#groupsContainer").append(partialResult);

                                    //Once again initialize DT after loading new data
                                    initializeDataTable();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}