@page "/JoinGroup"
@model Aplikacja_webowa_do_zarządzania_zespołami.Pages.JoinGroupModel
@{
    Layout = "_GroupLayout";
}
@if (Model.data == null)
{
    Response.Redirect("/");
}

<div class="w-100 h-100 d-inline-block overflow-auto bg-main">
    <div class="p-4">
        <h1 class="text-center display-6 fw-bold">Grupy</h1>
    </div>

    <div class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-table">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-start mb-5 mt-2">
                                <h3>Chciałbyś poprowadzić swój własny zespół</h3>
                                <div class="d-flex align-items-center">
                                    <span class="p-1 me-1">Nie czekaj, zrób to już teraz</span>
                                    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#create-modal">Zalóż grupe</button>
                                </div>
                            </div>
                            <h3>Dołącz do grupy</h3>
                            <hr />
                            <div class="table-responsive mt-3 mb-5" id="groupsJoinContainer">
                                <partial name="Partials/_PartialJoinGroup" model="Model.groupJoinList" />
                            </div>
                            <hr />
                        </div>
                    </div>
                    <div class="card bg-table">
                        <div class="card-body">
                            <h3>Grupy do których należysz</h3>
                            <hr/>
                            <div class="table-responsive mt-3" id="groupsQuitContainer">
                                <partial name="Partials/_PartialQuitGroup" model="Model.groupQuitList" />
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Join group modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="join-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Join">
                <div class="modal-body">
                    <div class="mt-md-4 pb-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label>Nazwa grupy</label>
                                    <hr />
                                    <p class="text-white-50" id="group-join-name"></p>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <label>Właściciel</label>
                                    <hr />
                                    <p class="text-white-50" id="group-join-owner-name"></p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label>Opis grupy</label>
                                <p class="text-white-50 mb-5 mt-2" id="group-join-description"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <input type="hidden" asp-for="joinGroupId" id="group-join-update" />
                    <input class="btn btn-primary" id="action-btn" type="submit" value="Dołącz"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Quit group modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="quit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Quit">
                <div class="modal-body">
                    <div class="mt-md-4 pb-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label>Nazwa grupy</label>
                                    <hr />
                                    <p class="text-white-50" id="quit-group-name"></p>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <label>Właściciel</label>
                                    <hr />
                                    <p class="text-white-50" id="quit-group-owner-name"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label>Twoja rola w grupie</label>
                                    <hr />
                                    <p class="text-white-50" id="quit-group-role"></p>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label>Status</label>
                                    <hr />
                                    <p class="text-white-50" id="quit-group-status"></p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label>Opis grupy</label>
                                <p class="text-white-50 mb-5 mt-2" id="quit-group-description"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <input type="hidden" asp-for="quitGroupId" id="quit-group-update" />
                    <input class="btn btn-danger" id="action-btn" type="submit" value="Opuść grupe" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Create group modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="create-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Stwórz grupe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-page-handler="Create">
                <div class="modal-body">
                    <div class="mt-md-4 pb-5">
                        <div class="mb-4">
                            <label class="form-label" for="typeGroupNameX">Nazwa grupy</label><br/>
                            <input type="text" id="typeGroupNameX" class="form-control form-control-lg text-light bg-dark" asp-for="createGroup.name" />
                            <span asp-validation-for="createGroup.name" class="text-danger"></span>
                            <div id="nameValidationError" class="text-danger" style="display:none;"></div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="typeGroupDescX">Opis grupy</label><br/>
                            <textarea id="typeGroupDescX" class=" form-control bg-dark" rows="4" asp-for="createGroup.description"></textarea>
                            <span asp-validation-for="createGroup.description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <input class="btn btn-primary" type="submit" value="Stwórz" />
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function initializeDataTable() {

            $('#DataTable').DataTable({
                "oLanguage": {
                    "oPaginate": {
                        "sPrevious": "Poprzednie",
                        "sNext": "Następne"
                    },

                    "sInfo": "Pozycje od _START_ do _END_ z _TOTAL_ ",
                    "sLengthMenu": "Ilość pozycji _MENU_",
                    "sSearch": "Szukaj:",
                    "sInfoFiltered": "(wyszukane z _MAX_ pozycji)",
                    "sZeroRecords": "Brak wyników",
                    "sInfoEmpty": "Pozycje od 0 do 0 z 0 "
                }
            });
        }

        function invokeAjaxCallJoin(){
            $('#join-modal').modal('hide');

            if ($("#groupsJoinContainer").children().length > 0) {
                $("#groupsJoinContainer").empty();
            }

            $.ajax({
                type: 'get',
                url: '@Url.Page("JoinGroup", "LoadJoinGroups")',
                success: function (partialResult) {
                    $("#groupsJoinContainer").append(partialResult);

                    //Once again initialize DT after loading new data
                    initializeDataTable();
                }
            });
        }

        function invokeAjaxCallQuit(){
            $('#quit-modal').modal('hide');

            if ($("#groupsQuitContainer").children().length > 0) {
                $("#groupsQuitContainer").empty();
            }

            $.ajax({
                type: 'get',
                url: '@Url.Page("JoinGroup", "LoadQuitGroups")',
                success: function (partialResult) {
                    $("#groupsQuitContainer").append(partialResult);
                }
            });
        }

        $(document).ready(function () {

            //DataTable
            initializeDataTable();

            $("#groupsJoinContainer").on("click", ".dataTable tbody tr", function () {
                $.getJSON(`/JoinGroup?handler=JoinGroupJson&id=${$(this).data('id')}`).done(function (group) {
                    $('#group-join-name').text(group.name);
                    $('#group-join-description').text(group.description);
                    $('#group-join-owner-name').text(group.owner_name);
                    $('#group-join-update').val(group.group_id);
                });
            });

            $("#groupsQuitContainer").on("click", ".table tbody tr", function () {
                $.getJSON(`/JoinGroup?handler=QuitGroupJson&id=${$(this).data('id')}`).done(function (group) {
                    $('#quit-group-name').text(group.name);
                    $('#quit-group-description').text(group.description);
                    $('#quit-group-owner-name').text(group.owner_name);
                    $('#quit-group-update').val(group.group_id);
                  
                    if(group.role == "user"){
                        $('#quit-group-role').text("Użytkownik");
                    }
                    else if(group.role == "owner"){
                        $('#quit-group-role').text("Właściciel");
                    }else{
                        $('#quit-group-role').text(group.role);
                    }

                    if(group.status == "nieaktywny"){
                        $('#quit-group-status').text("Oczekujący na zatwierdzenie");
                    }else{
                        $('#quit-group-status').text("Użytkownik aktywny");
                    }

                });
            });

            $("form").submit(function (event) {
                event.preventDefault();

                let form = $(this);
                let actionUrl = form.attr("action");


                $.ajax({
                    type: form.attr("method"),
                    url: actionUrl,
                    data: form.serialize(),
                    dataType: "json",
                    success: function (data) {
                        //Object.keys(data).lenght sprawdza ile błędów znajduje się w data natomiast data != success ma za zadanie nie przechwicić udanego wykonania
                        if (Object.keys(data).length > 0 && !Array.isArray(data) && data != "success") {
                            var keys = Object.keys(data);

                            for (let i = 0; i < keys.length; i++) {
                                let key = keys[i];
                                let errors = data[key];
                                let errorSpan = $(`span[data-valmsg-for="${key}"]`);

                                if (errorSpan.length > 0) {
                                    errorSpan.text(errors[0]);
                                }
                            }
                        } else if (Array.isArray(data) && data.length > 0) {
                            let nameValidationError = $(`span[data-valmsg-for="createGroup.name"]`);
                            nameValidationError.text(data[0]);
                        }else {
                            //After succesfull reinitialise components (JoinGroups and QuitGroups)

                            $('#create-modal').modal('hide');
                            invokeAjaxCallJoin();
                            invokeAjaxCallQuit();
                        }
                    }
                });
            });
        });
    </script>
}