@page
@model Aplikacja_webowa_do_zarządzania_zespołami.Pages.OwnerNoticesModel
@{
    Layout = "_ComunicationLayout";
}
@if (Model.data != "Owner")
{
    Response.Redirect("/");
}

<div class="w-100 h-100 d-inline-block overflow-auto bg-main">
    <div class="p-4">
        <h1 class="text-center display-6 fw-bold">Tablica ogłoszeń</h1>
    </div>

    <div class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-table">
                        <div class="card-body">
                            <button class="btn float-end" data-bs-toggle="modal" data-bs-target="#add-notice-modal">
                                <i class="bi bi-plus-square"></i>
                                </button>
                            <div class="container mt-5">
                                <div class="row" id="noticeContainer">
                                    @if (!Model.noticesList.Any())
                                    {
                                        <div class="no-data">
                                            <p class="no-data mb-5">Brak wyników</p>
                                        </div>
                                    }else
                                    {
                                    <partial name="Partials/_PartialNoticesView" model="Model.noticesList" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit and delete modal-->
<div class="modal fade" id="notice-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form method="post" id="deleteEditForm">
                <div class="modal-header">
                    <h3 id="topicText"></h3>
                </div>
                <div class="modal-body mt-2">
                    <div class="contain">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-white" id="sender"></p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-white" id="sendDate"></p>
                            </div>
                        </div>
                    </div>

                    <div class="contain mt-2 mb-5">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label text-white-50" for="topic">Temat</label>
                                <hr />
                                <input type="text" id="topic" class="form-control text-light bg-dark" asp-for="notice.topic" />
                                <span asp-validation-for="notice.topic" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <p class="text-white-50">Wiadomość</p>
                    <hr />
                    <div class="mb-5">
                        <textarea class="wrap-text form-control" id="content" rows="8" asp-for="notice.content"></textarea>
                        <span asp-validation-for="notice.content" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-danger" id="deleteBtn">Usuń</button>
                    <input type="hidden" asp-for="notice.message_id" id="update" />
                    <button type="button" class="btn btn-primary" id="editBtn">Edytuj</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Create modal -->
<div class="modal fade" id="add-notice-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form method="post" asp-page-handler="Add" id="addForm">
                <div class="modal-header">
                    <h3>Dodaj ogłoszenie</h3>
                </div>
                <div class="modal-body mt-2">
                    <div class="contain mt-2 mb-5">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label text-white-50" for="topic">Temat</label>
                                <hr />
                                <input type="text" class="form-control text-light bg-dark" asp-for="notice.topic" />
                                <span asp-validation-for="notice.topic" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <p class="text-white-50">Wiadomość</p>
                    <hr />
                    <div class="mb-5">
                        <textarea class="wrap-text form-control" rows="8" asp-for="notice.content"></textarea>
                        <span asp-validation-for="notice.content" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" id="addBtn">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $("#addBtn").click(function () {
                $("#addForm").submit();
            });

            //Changing form action to edit
            $("#editBtn").click(function () {
                $("#deleteEditForm").attr("action", "/OwnerNotices?handler=Edit");
                $("#deleteEditForm").submit();
            });

            //Changing form action to delete
            $("#deleteBtn").click(function () {
                $("#deleteEditForm").attr("action", "/OwnerNotices?handler=Delete");
                $("#deleteEditForm").submit();
            });

            //Cleaning function on modal call and submit
            $("form").on("submit", function () {
                $('span[data-valmsg-for]').text("");
            });

            $("#notice-modal").on("show.bs.modal", function () {
                $('span[data-valmsg-for]').text("");
            });

            $("#add-notice-modal").on("show.bs.modal", function () {
                $("span[data-valmsg-for]").text("");
            });

            //Get values to modal on click
            $("#noticeContainer").on("click", ".item", function () {
                //Wyświetl modal
                let idValue = $(this).attr("id");

                $.getJSON(`/OwnerNotices?handler=NoticeJson&id=${idValue}`).done(function (notice) {
                    $("#topicText").text(notice.topic);
                    $("#topic").val(notice.topic);
                    $("#content").text(notice.content);
                    $("#update").val(notice.message_id);
                    $("#sender").text("Od: " + notice.sender_name);
                    $("#sendDate").text("Zamieszczono: " + notice.send_date.replace("T", " "));
                });

                $("#notice-modal").modal("show");
            });

            //Form handling method
            $("form").submit(function (event) {
                event.preventDefault();

                let form = $(this);
                let actionUrl = form.attr("action");

                $.ajax({
                    type: form.attr("method"),
                    url: actionUrl,
                    data: form.serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (Object.keys(data).length > 0 && !Array.isArray(data) && data != "success") {
                            let keys = Object.keys(data);

                            for (let i = 0; i < keys.length; i++) {
                                let key = keys[i];
                                let errors = data[key];
                                let errorSpan = $(`span[data-valmsg-for="${key}"]`);

                                if (errorSpan.length > 0) {
                                    errorSpan.text(errors[0]);
                                }
                            }
                        } else if (Array.isArray(data) && data.length > 0) {
                            let nameValidationError = $(`span[data-valmsg-for="notice.content"]`);
                            nameValidationError.text(data[0]);
                        }
                        else {
                            //Close modals
                            $("#notice-modal").modal("hide");
                            $("#add-notice-modal").modal("hide");

                            if ($("#noticeContainer").children().length > 0) {
                                $("#noticeContainer").empty();
                            }

                            $.ajax({
                                type: 'get',
                                url: '@Url.Page("OwnerNotices", "LoadNotices")',
                                success: function (partialResult) {
                                    $("#noticeContainer").append(partialResult);
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}

