@page "/PasswordRecovery"
@model Aplikacja_webowa_do_zarządzania_zespołami.Pages.PasswordRecoveryModel
@{
    Layout = "_LoginLayout";
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <form method="post" asp-page-handler="Recover">
                                <h2 class="fw-bold mb-2 text-uppercase">Odzyskaj hasło</h2>
                                <p class="text-white-50 mb-5">Proszę podać swój adres e-mail powiązany z kontem</p>

                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="typeEmailX" class="form-control form-control-lg input-background" asp-for="email" />
                                    <span asp-validation-for="email" class="text-danger"></span>
                                </div>

                                <input class="btn btn-outline-primary btn-lg px-5 mt-3" type="submit" value="Odzyskaj hasło" />
                            </form>
                        </div>

                        <div>
                            <p class="small pb-lg-2"><a class="text-white-50" asp-area="" asp-page="/Login">Powrót do logowania</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Successfull recovery modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="success-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="mb-3 mt-3">
                        <h3>Wysłano wiadomość na wskazany adres</h3>
                    </div>
                </div>
                <hr />
                <div class="text-end mb-3">
                    <button type="button" class="btn btn-secondary px-5 me-2" data-bs-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {

            $("form").submit(function (event) {
                event.preventDefault();

                let form = $(this);
                let actionUrl = form.attr("action");


                $.ajax({
                    type: form.attr("method"),
                    url: actionUrl,
                    data: form.serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (Array.isArray(data) && data.length > 0) {
                            let nameValidationError = $(`span[data-valmsg-for="email"]`);
                            nameValidationError.text(data[0]);
                        }
                        else {
                            $("#success-modal").modal("show");
                            $("span[data-valmsg-for]").text("");
                        }
                    }
                });
            });
        });
    </script>
}
