@page
@model Aplikacja_webowa_do_zarządzania_zespołami.Pages.UserNoticesModel
@{
    Layout = "_ComunicationLayout";
}
@if (Model.data != "User")
{
    Response.Redirect("/");
}

<div class="w-100 h-100 d-inline-block overflow-auto bg-main">
    <div class="p-4">
        <h1 class="text-center display-6 fw-bold">Tablica ogłoszeń</h1>
    </div>

    <div class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-table">
                        <div class="card-body">
                            <div class="container mt-5">
                                <div class="row" id="noticeContainer">
                                    @if (!Model.noticesList.Any())
                                    {
                                        <div class="no-data">
                                            <p class="no-data mb-5">Brak wyników</p>
                                        </div>
                                    }
                                    else
                                    {
                                    <partial name="Partials/_PartialNoticesView" model="Model.noticesList" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="notice-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="card-modal-content">
            <div class="card-modal-header">
                <h3 id="topic"></h3>
            </div>
            <div class="card-modal-body mt-2">
                    <div class="contain">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-white" id="sender"></p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-white" id="sendDate"></p>
                            </div>
                        </div>
                    </div>
                    <p class="text-white-50 mt-5">Wiadomość</p>
                    <hr/>
                    <div class="wrap-text mb-5" id="content"></div>
                </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#noticeContainer").on("click", ".item", function () {
                //Wyświetl modal
                let idValue = $(this).attr("id");

                $.getJSON(`/UserNotices?handler=NoticeJson&id=${idValue}`).done(function (notice) {
                    $("#topic").text(notice.topic);
                    $("#content").text(notice.content);
                    $("#sender").text("Od: " + notice.sender_name);
                    $("#sendDate").text("Zamieszczono: " + notice.send_date.replace("T", " "));
                });

                $("#notice-modal").modal("show");
            });
        });
    </script>
}
