@page
@model Aplikacja_webowa_do_zarządzania_zespołami.Pages.TestPages.CalendarModel
@{
}


<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: function (info, successCallback, failureCallback) {
                fetch('/Calendar?handler=Events', { method: 'GET' })
                    .then(response => response.json())
                    .then(data => {
                        successCallback(data);
                    })
                    .catch(error => {
                        failureCallback(error);
                    });
            }
        });
        calendar.render();
    });

</script>

<div id="calendar"></div>
