@page
@model Aplikacja_webowa_do_zarządzania_zespołami.Pages.TestPages.TestModel
@{
    Layout = "_TaskLayout";
}

<h2>Ajax</h2>

<div class="data">
    <div id="2" class="item">Kliknij mnie 1
    </div>
    <div id="4" class="item">Kliknij mnie 2
    </div>
    <div id="5" class="item">Kliknij mnie 3
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            //Puszczenie na konkretny element
            $(".data .item").click(function () {
                var nowyDiv = $('<div></div>', {
                    class: 'nowy-div',
                });

                if ($(this).hasClass("active")){

                    $(this).removeClass("active");
                    var nextNowyDiv = $(this).find(".nowy-div");
                    nextNowyDiv.remove();

                }else{

                    $(this).append(nowyDiv);
                    $(this).addClass("active");
                    let idValue = $(this).attr("id");

                    let miejse_na_partial = $(this).find(".nowy-div");

                    miejse_na_partial.load('/TestPages/Test?handler=PartialTest&id=' +idValue );
                }
            });
        });
    </script>
}
