@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


    <nav class="navbar navbar-expand-md navbar-dark bg-layout p-3" aria-label="Navbar">
        <div class="container-fluid justify-content-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link text-white me-3" asp-area="UserTasks" asp-page="/">Zadania</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white me-3" href="#">Kalendarz</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div">
        @RenderBody()
    </div>