<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark">

    <title>Aplikacja webowa do zarządzania zespołami</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-night.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/Selectize/css/selectize.dark.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar-6.1.8/css/FullCalendarJS.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Aplikacja_webowa_do_zarządzania_zespołami.styles.css" asp-append-version="true" />
</head>


<body>
    @RenderBody()
</body>
</html>

<script src="~/js/layout.js"></script>
