@model Models.Message

<div class="form-control mt-5">
    <br/>
    <p class="text-white-50">Wiadomość</p>
    <hr/>
    <div class="pb-5" style="color:rgba(255,255,255,.75)">@Model.content</div>
</div>
