@model Models.Group

<div class="p-4">
    <h1 class="text-center display-6 fw-bold">Zarzadzaj grupą - @Model.name</h1>
</div>

<div class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="title" id="upperTitle">Dane grupy</h3>
                <div class="card bg-table">
                    <div class="card-body" id="editData">
                        <div class="container mt-3">
                            <form method="post" id="editGroupForm" asp-page-handler="Edit">
                                <div class="mb-4 col-md-6">
                                    <label class="form-label" for="name">Nazwa</label><br />
                                    <input type="text" id="name" class="form-control form-control-lg text-light input-background" asp-for="name" />
                                    <span asp-validation-for="name" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="description">Opis</label><br />
                                    <textarea type="text" id="description" class="form-control form-control-lg text-light input-background wrap-text" asp-for="description" rows="6"></textarea>
                                    <span asp-validation-for="description" class="text-danger"></span>
                                </div>
                                <div class="d-flex justify-content-end mb-3">
                                    <button type="button" class="btn btn-danger px-3 me-2" id="deleteGroupDataBtn">Usuń grupe</button>
                                    <button type="button" class="btn btn-primary px-3" id="editGroupDataBtn">Zatwierdź zmiany</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Confirm delete group modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="confirm-delete-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form method="post" id="deleteGroupForm" asp-page-handler="Delete">
                <div class="modal-body">
                    <div class="container">
                        <div class="mb-3 mt-3">
                            <h4>Czy na pewno chcesz usunąć grupe?</h4>
                        </div>
                    </div>
                    <hr />
                    <span asp-validation-for="description" class="text-danger ms-3"></span>
                    <div class="text-end mb-3">
                        <button type="button" class="btn btn-secondary px-5 me-2" data-bs-dismiss="modal">Nie</button>
                        <button type="button" class="btn btn-danger px-5 me-2" id="confirmGroupDeleteBtn">Tak</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
