@model Models.Tasks
<table class="table table-striped">
        <tr>
            <td>@Model.task_name</td>
            <td>@Model.start_date</td>
            <td>@Model.end_date</td>
            <td>@Model.description</td>
        </tr>
</table>