@model List<PartialModels.SendedMessagePartial>

@if (!Model.Any())
{
    <div class="no-data">
        <p>Brak wyników</p>
    </div>
}
else
{
    @foreach (var item in Model)
    {
        <hr />
        <div class="sended-item card-body" id="@item.message_id">
            <div class="contain">
                <div class="row">
                    <div class="col-md-2">
                        Do: @item.reciver_name
                    </div>
                    <div class="col-md-7">
                        Temat: @item.topic
                    </div>
                    <div class="col-md-3">
                        Data wysłania: @item.send_date
                    </div>
                </div>
            </div>
        </div>
    }
    <button class="btn btn-dark w-100" id="loadMoreSended">Pokaż więcej</button>
}