@model Models.Message

<div class="bg-dark">
    <br/>
    <p class="text-white-50">Wiadomość</p>
    <hr/>
    <textarea disabled class="status-input form-control bg-dark" style="color:rgba(255,255,255,.75)" rows="5">@Model.content</textarea>
</div>
